/*Reset*/
*,
* ::before,
* ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* list-style: none; */
}

/*Root variables*/
:root {
  --color-primary: #ff6722;
  --color-secondary-dark: #ffa589;
  --color-secondary-light: #fff6f2;
  --color-navbar: #f8f8f8;
  --color-heading: #000;
  --color-body: #333333;
  --color-white: #fff;
  --avatar-size: 50px;
}

/*To make each rem - 10px for easier usage of rem later on*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* font-family: sans-serif; */
}

body {
  color: var(--color-body);
  font-size: 1.4rem;
  overflow-x: hidden; /*x Prevent horizontal scrolling */
}

a {
  text-decoration: none;
  color: var(--color-body);
}
h1,
h2,
h3 {
  color: var(--color-heading);
  font-weight: bold;
}
