<section class="button__container">
  <a href="#" class="button">
    <div class="button__content">
      <span class="button__text">Submit</span>
      <i class="ri-check-line button__icon"></i>
      <div class="button__reflection-1"></div>
      <div class="button__reflection-2"></div>
    </div>
    <img src="/assets/images/button/star.svg" class="button__star-1" />
    <img src="/assets/images/button/star.svg" class="button__star-2" />
    <img src="/assets/images/button/circle.svg" class="button__circle-1" />
    <img src="/assets/images/button/circle.svg" class="button__circle-2" />
    <img src="/assets/images/button/diamond.svg" class="button__diamond" />
    <img src="/assets/images/button/triangle.svg" class="button__triangle" />
    <div class="button__shadow"></div>
  </a>
</section>
