<section class="hero container">
  <div class="hero__img-container">
    <img src="./assets/images/Group 124.png" alt="" />
  </div>
  <div class="hero__text">
    <h1 class="hero__title">Don't worry about your home</h1>
    <p class="hero__details">
      With smart nest you'll get notified about everything happening in your
      home, (next line) weather if you're home or not!
    </p>
    <div class="button__container">
      <a href="#" class="button">
        <div class="button__content">
          <span class="button__text">visit our shop</span>
          <i class="ri-check-line button__icon"></i>
          <div class="button__reflection-1"></div>
          <div class="button__reflection-2"></div>
        </div>
        <img src="/assets/images/button/star.svg" class="button__star-1" />
        <img src="/assets/images/button/star.svg" class="button__star-2" />
        <img src="/assets/images/button/circle.svg" class="button__circle-1" />
        <img src="/assets/images/button/circle.svg" class="button__circle-2" />
        <img src="/assets/images/button/diamond.svg" class="button__diamond" />
        <img
          src="/assets/images/button/triangle.svg"
          class="button__triangle"
        />
        <div class="button__shadow"></div>
      </a>
    </div>
  </div>
</section>
