<div class="icon__section container">
  <a href="#" class="icon__section-icon">
    <img class="icon__section-img" src="/assets/images/door.png" />
    <p class="icon__section-text">Doors and windows</p>
  </a>
  <a href="#" class="icon__section-icon">
    <img class="icon__section-img" src="/assets/images/plant.png" />
    <p class="icon__section-text">Plants</p>
  </a>
  <a href="#" class="icon__section-icon">
    <img class="icon__section-img" src="/assets/images/Plug.png" />
    <p class="icon__section-text">Electronic devices</p>
  </a>
  <a href="#" class="icon__section-icon">
    <img class="icon__section-img" src="/assets/images/light.png" />
    <p class="icon__section-text">Lighting</p>
  </a>
  <a href="#" class="icon__section-icon">
    <img class="icon__section-img" src="/assets/images/heat.png" />
    <p class="icon__section-text">Heating</p>
  </a>
  <a href="#" class="icon__section-icon">
    <img class="icon__section-img" src="/assets/images/pet.png" />
    <p class="icon__section-text">Pets</p>
  </a>
</div>
