<section class="icon__section container">
  <a href="#" class="icon__section-icon">
    <img class="icon__section-img" src="/assets/images/icons/door.png" />
    <p class="icon__section-text">Doors and windows</p>
  </a>
  <a href="#" class="icon__section-icon">
    <img class="icon__section-img" src="/assets/images/icons/plant.png" />
    <p class="icon__section-text">Plants</p>
  </a>
  <a href="#" class="icon__section-icon">
    <img
      class="icon__section-img adjust-icon"
      src="/assets/images/icons/plug.png"
    />
    <p class="icon__section-text">Electronic devices</p>
  </a>
  <a href="#" class="icon__section-icon">
    <img class="icon__section-img" src="/assets/images/icons/light.png" />
    <p class="icon__section-text">Lighting</p>
  </a>
  <a href="#" class="icon__section-icon">
    <img class="icon__section-img" src="/assets/images/icons/heat.png" />
    <p class="icon__section-text">Heating</p>
  </a>
  <a href="#" class="icon__section-icon">
    <img class="icon__section-img" src="/assets/images/icons/pet.png" />
    <p class="icon__section-text">Pets</p>
  </a>
</section>
