<sec class="management">
  <div class="management__img">
    <picture>
      <source
        srcset="/assets/images/phone.png"
        type="image/png"
        media="(max-width: 768px)"
      />
      <source
        srcset="/assets/images/phone2.png"
        type="image/png"
        media="(min-width: 768px)"
      />
      <img src="/assets/images/phone.png" alt="banner" class="banner-img" />
    </picture>
    <div class="management__text">
      <h1 class="management__text-title">Lorem ipsum dolor sit amet.</h1>
      <p class="management__text-details">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        inventore eaque est reprehenderit maiores at, consequatur, maxime eum
        unde cum a ipsam, possimus sit sapiente officia totam itaque
        perferendis? Veniam?
      </p>
    </div>
  </div>
  <div class="management__text"></div>
</sec>
